.App {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.resize
{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}